
button.btn1{
  /* background: #22C1C3;
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
    border: none;
    font-family: cursive;
   font-size: larger;
    font-weight: 400;
}
#pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: #ecd56b;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ecd56b;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.mobile-box{
    display: inline-block;
justify-content: space-between;
/* border: 2px solid black; */
margin-top: 10px;
}
.mobile-description{
 display: flex;
    justify-content: center;
  
}
.center{
    display: flex;
    justify-content: center;
}
.main-div{
    /* background-color: #ecd56b; */
width: 700px;
    /* border: 5px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aliza{
    display: block;
    width: 500px;
    background-color: aqua;
}
.container {
  display: flex;
  justify-content: start;   /* horizontally center both boxes */
  align-items: flex-start;    /* align to top */
  gap: 20px;                  /* space between the two divs */
  margin-top: 30px;
}
.swal2-popup {
  border: 3px solid #333;      /* border */
  border-radius: 20px;         /* rounded corners */
  background-color: #fdf8e3;   /* optional: light background */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* shadow for style */
}
/* Q3 */
table {
      border-collapse: collapse;
      width: 70%;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    button {
      background-color: crimson;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: darkred;
    }
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      margin-top: 50px;
    }
    #counterValue {
      font-size: 40px;
      margin: 20px;
      display: inline-block;
      width: 100px;
    }
    button {
      padding: 10px 20px;
      font-size: 18px;
      margin: 5px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
    .increase {
      background-color: green;
      color: white;
    }
    .decrease {
      background-color: crimson;
      color: white;
    }